@model List<WebApp.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="product_top_bar">
    <div class="left_dorp">
        <select class="sorting">
            <option value="1">Default sorting</option>
            <option value="2">Default sorting 01</option>
            <option value="4">Default sorting 02</option>
        </select>
        <select class="show">
            <option value="1">Show 12</option>
            <option value="2">Show 14</option>
            <option value="4">Show 16</option>
        </select>
    </div>
</div>

<div class="latest_product_inner">
    <div class="row">
        @foreach (var product in Model)
        {
            <partial name="_Product" for="@product" />
        }
    </div>
</div>